.modal-footer {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    height: 30px;
    padding: 0 10px 10px;
    line-height: 30px;
    text-align: right;
    overflow: hidden;
}

.modal-without-footer .modal-footer {
    display: none;
}