html,
body {
    font-family: Consolas, Arial, Gabriola, sans-serif;
    background-color: #FFF;
}

a:link,
a:visited,
a:hover {
    color: #08c;
    text-decoration: none;
}

a:hover {
    color: #06c;
    text-decoration: none;
}

.api-wrap {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width:90%;
    min-width: 360px;
    overflow: hidden;
}

.api-header {
    width: 100%;
    padding: 0;
    background-color: #FFF;
    border-bottom: 10px solid #f4f5f9;
}

.api-logo {
    float: left;
    margin: 10px 0;
    height: 60px;
    font-size: 30px;
    font-family: Georgia, Arial, Harrington, sans-serif;
    line-height: 60px;
    text-align: center;
}

.api-nav {
    float: right;
    margin: 20px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.api-nav li {
    float: left;
    margin: 0;
    list-style-type: none;
    padding: 0 15px;
    font-size: 14px;
    overflow: hidden;
}

.api-nav a:link,
.api-nav a:visited,
.api-nav a:hover {
    color: #3c3c3c;
    font-weight: bold;
}

.api-banner {
    width: 100%;
    padding: 30px 0;
    font-size: 14px;
    background: #3c3c3c url(../img/banner-demo.jpg) 50% 50% no-repeat;
    color: #FFF;
}

.api-banner h2 {
    margin: 20px auto;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.api-banner .api-wrap {
    padding: 0 2rem;
}

.api-menu {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    height: 40px;
    padding-top: 10px;
    background-color: #f4f5f9;
    border-bottom: 1px solid #DDD;
    overflow: visible;
}

.api-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 30px;
    overflow: visible;
}

.api-item {
    position: relative;
    z-index: 1;
    float: left;
    margin: 0;
    height: 40px;
    padding: 0 30px;
    list-style-type: none;
    line-height: 40px;
    overflow: hidden;
}

.api-active-item {
    border: 1px solid #DDD;
    border-top: 5px solid #00abc7;
    height: 36px;
    line-height: 34px;
    border-bottom: 1px solid #fff;
    background-color: #FFF;
}

.api-item h2 {
    margin: 0 auto;
    height: 30px;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}

.api-item a:link,
.api-item a:visited,
.api-item a:hover {
    color: #6D6D6D;
}

.api-item a:hover {
    color: #3c3c3c;
}

.api-breadcrumb {
    padding: 1rem 0;
    font-size: 14px;
}

.api-body {
    margin: 0 auto 4rem;
    overflow: hidden;
}

.api-body h2,
.api-body h3,
.api-body h4,
.api-body h5,
.api-body h6 {
    margin-top: 0;
    line-height: 150%;
}

.api-body h2 {
    color: #00abc7;
    height: 50px;
    line-height: 50px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DDD;
}

.api-body h3 {
    color: #F40;
}

.api-body h3 sup{
    color:#8d8d8d;
    padding-left:15px;
}

.api-body h4 {
    color: #369;
}

.api-mod{
    margin:0;
    padding:40px;
    border: 1px solid #DDD;
    overflow:hidden;
}

.api-image{
    text-align:center;
}

.api-code{
    border:1px solid #DDD;
    padding:15px;
    background-color:#FAFAFA;
}

.api-code code{
    font-family: Consolas, Arial, Gabriola, sans-serif;
    font-size:14px;
}

.api-index-list{
    margin:1rem 0 0;
    padding:15px 10px;
    border-top:1px solid #DDD;
    overflow:hidden;
}

.api-index-list li{
    float:left;
    margin:0;
    width:25%;
    height:30px;
    line-height:30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.api-index-list li sup{
    color:#8d8d8d;
    padding-left:10px;
}

.api-body p {
    line-height: 1.5rem;
    font-size: 14px;
}

.api-left-content,
.api-right-content{
    margin:0 1%;
    width:48%;
    overflow:hidden;
}

.api-left-content{
    float:left;
}

.api-right-content{
    float:right;
}

.api-param {
    position: relative;
    z-index: 1;
    margin: 10px 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
}

.api-param dt {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 140px;
    height: 30px;
    font-weight: bold;
    color: #666;
    overflow: hidden;
}

.api-param dd {
    position: relative;
    z-index: 1;
    margin-left: 140px;
    height: 30px;
    overflow: hidden;
}

.api-param dd strong {
    padding: 5px 10px;
    background-color: #00abc7;
    color: #FFF;
}

.api-buttons{
    margin:10px auto;
    padding:10px;
    overflow:hidden;
}

.api-footer {
    border-top: 1px solid #F1F1F1;
    padding: 2rem 0;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    overflow: hidden;
}